In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
import re
import glob
from pathlib import Path
import pandas as pd

In [3]:
dir_path = os.getcwd()

In [4]:
folders = sorted(Path(dir_path).glob('E/*'))

In [5]:
file = folders[0]

In [12]:
(os.path.splitext(file)[0]).split('/')

['',
 'home',
 'pinky',
 'Documents',
 'p_projects',
 'rabina_file',
 'E',
 'AB029 LEFT']

In [6]:
for file in folders:
    with open(file, 'r') as f:
        file_name = os.path.splitext(file)[0].split('/')[-1].replace(" ", "_")
        lines = f.readlines()
    #     del lines[0]
        final_lines = [re.split('\s+', l.strip()) for l in lines]
        df = pd.DataFrame(final_lines[1:], columns=final_lines[0])
        df.to_csv(f"{dir_path}/output/{file_name}.csv")

In [8]:
df

      NODE       X        Y       Z  THXY  THYZ  THZX
0  10319-1  135.11  -172.91  998.13  0.00  0.00  0.00
1  12854-2  148.83  -166.52  1470.4  0.00  0.00  0.00
2   8203-3  161.87  -170.89  1414.0  0.00  0.00  0.00
3   3711-4  66.939  -173.47  1475.8  0.00  0.00  0.00
4   1590-5  100.98  -175.42  1431.1  0.00  0.00  0.00
5  10353-6  123.83  -188.57  1464.0  0.00  0.00  0.00
6   2873-7  80.477  -173.70  1441.0  0.00  0.00  0.00
7   9190-8  102.49  -180.08  1486.4  0.00  0.00  0.00